.slider-section__image-text{
  position: absolute;
  color: white;
  font-size: 88px;
  width: 1000px;
  line-height: 64px;
  text-align: end;
  top: 0px;
  right: 95px;
  font-family: "Cormorant Unicase";
  font-weight: 700;
  text-transform: uppercase;
}







@media screen and (max-width: 1919px) {
  .slider-section__image-text{
    font-size: 56px;
    width: 700px;
    line-height: 44px;
  }
}


@media screen and (max-width: 1023px) {
  .slider-section__image-text{
    font-size: 27px;
    width: 300px;
    line-height: 24px;
    text-align: center;
    top: 200px;
    left: 50%;
    margin: -150px 0 0 -150px;
  }

}

