.project-section__title{
  font-family: 'Libre Baskerville';
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 0;
}

.project-section__title:nth-child(2){
  font-family: 'Cormorant Unicase';
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 700;
}

.project-section__title:nth-child(3){
  font-family: 'Inter';
  font-size: 18px;
  margin-bottom: 40px;
  color: #8A8585;
}


@media screen and (max-width:1023px) {

  .project-section__title{
   text-align: left;
  }
  


  .project-section__title:nth-child(1){
    text-align: left;
    padding-top: 36px;
  }
  
  .project-section__title:nth-child(2){
    font-family: 'Cormorant Unicase';
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .project-section__title:nth-child(3){
    font-family: 'Inter';
    font-size: 18px;
    margin-bottom: 40px;
    color: #8A8585;
  }
  
}