.owner-section{
  background-color: #FFFFFF;
  height: 664px;
  position: relative;
  display: flex;
  justify-content: center;
}

@media screen and (max-width:1023px) {
  .owner-section{
    height: 850px;
    margin-top: 100px;
  }
}