.button_type_send-white{
  /* margin: 0 auto 0 auto; */
  border-radius: 30px;
  border-color: #A68B6E;
  color: #A68B6E;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 20px;
  padding: 20px;
}