.about-company-section__text-wrapper{
  width: 800px;
  height: 530px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border-radius: 8px;
  z-index: 2;
  position: absolute;
  bottom: 330px;
  background-color: white;
  padding-left: 80px;
  padding-bottom: 80px;
}


@media screen and (max-width: 1439px) {
  .about-company-section__text-wrapper{
    width: 634px;
    height: 393px;
    left: 71px;
  }
  
}

@media screen and (max-width: 1023px) {
  .about-company-section__text-wrapper{
    width: 320px;
    height: 491px;
    left: 50%;
    margin-left: -160px;
    padding-left: 0;
    bottom: 130px;
  }
  
}

