.about-company-section__text-wrapper{
  width: 800px;
  height: 530px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.5);
  border-radius: 8px;
  z-index: 2;
  position: absolute;
  bottom: 330px;
  background-color: white;
  padding-left: 80px;
  padding-bottom: 80px;
}