.project-map{
  height: 505px;
  width: 100%;
  /* opacity: 0.8; */
  margin-bottom: 200px;
  box-shadow: 6px 62px 30px -19px rgba(0, 0, 0, 0.046) inset;
  background-image: url(../../images/mapImage.jpg);
  background-size: cover;
}


@media screen and (max-width: 1439px) {
  .project-map{
    margin-bottom: 350px;
  }
}

@media screen and (max-width: 1023px) {
  .project-map{
    background-image: url(../../images/project-zim-map-360.jpg);
    margin-bottom: 100px;
  }
}