.project-map{
  height: 505px;
  width: 100%;
  /* opacity: 0.8; */
  margin-bottom: 200px;
  box-shadow: 6px 62px 30px -19px rgba(0, 0, 0, 0.046) inset;
  background-image: url(../../images/mapImage.jpg);
  background-size: cover;
}