.header{
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  height: 85px;
  align-items: center;
  background-color: #4F4B4B;
  padding: 0 45px 0 45px;
}


@media screen and (max-width: 1023px) {
  .header{
    height: 60px;
  }
}