.slider-section{
  display: flex;
  position: relative;
  height: 1130px;
}


@media screen and (max-width: 1439px) {
  .slider-section{
    height: 800px;
  }
}


@media screen and (max-width: 1023px) {
  .slider-section{
    height:  1730px;
  }
}