.pd-top-section{
margin-top: 35px;
position: relative;
display: flex;
}

.pd-top-section__image{
  width: 1126px;
  height: 550px;

  position: relative;
  z-index: 0;
  background-image: url(../../images/pd-top-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.pd-top-section__information{
  height: 462px;
  width: 650px;
  background-color: #FFFFFF;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 44px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.pd-top-section__information-wrapper{
  width: 437px;
  margin: auto;
  /* background-color: #83918f84; */
  text-align: left;
  display: flex;
  flex-direction: column;
}


.pd-top-section__table{
  display: flex;
  width: 100%;
  margin-top: 50px;
}

.pd-top-section__uptitle{
  font-family: 'Libre Baskerville';
  color: #83918F;
  font-size: 16px;
  margin: 0;
}

.pd-top-section__title{
  font-family: 'Gloock';
  color: #83918F;
  font-size: 55px;
  font-weight: 400;
  /* line-height: 0px; */
  /* height: 55px; */
  margin: 0;
}

.pd-top-section__table-column:nth-child(1){
  padding-right: 45px;
}

.pd-top-section__table-column{
  position: relative;
}

.pd-top-section__table-text{
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.pd-top-section__table-line{
  width: 437px;
  position: absolute;
}

@media screen and (max-width:1439px) {
  .pd-top-section__image{
    width: 839px;
    border-radius: 0px 8px 8px 0px; 
  }
}

@media screen and (max-width:1023px) {
  .pd-top-section{
    margin-top: 0;
  }

  .pd-top-section__image{
    width: 100%;
    height: 70vw;
    border-radius: 0px; 
    margin: auto;
  }

  .pd-top-section__information{
    height: 280px;
    width: 80%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    top: 60vw;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .pd-top-section__information-wrapper{
    margin-top: 33px;
    margin-left: 30px;
  }

  .pd-top-section__uptitle{
    font-size: 14px;
    margin: 0;
  }
  
  .pd-top-section__title{
    font-size: 25px;
    font-weight: 400;
    margin: 0;
  }

  .pd-top-section__table{
    display: flex;
    width: 100%;
    margin-top: 26px;
  }

  .pd-top-section__table-line{
    width: 65vw;
  }


  .pd-top-section__table-text{
    font-size: 10px;
    line-height: 11px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .pd-top-section__table-column:nth-child(1){
    padding-right: 25px;
  }
  
}


