.form-header-text{
  font-family: 'Cormorant Unicase';
  font-size: 42px;
  text-align: center;
  margin: 0 auto 5% auto;
  font-weight: 700;
  color: #4F4B4B;
}

@media screen and (max-width:1023px) {
  .form-header-text{
    font-size: 25px;
    width: 100%;
    /* margin: 340px; */
  }
}