.form-section__input{
  border: 1px solid #A68B6E;
  height: 45px;
  width: calc(100% - 2px);
  padding: 0;
}

.form-section__last-input{
  border: 1px solid #A68B6E;
  height: 45px;
  width: calc(100% - 2px);
  padding: 0;
}

.form-section__last-input::placeholder{
  color: #A68B6E;
}

.form-section__input::placeholder{
 color: #A68B6E;
}


@media screen and (max-width: 1023px) {
  .form-section__input{
    margin-bottom: 10px;
  }
  
  .form-section__last-input{
    height: 105px;
  }
}