.top-text{
  font-size: 55px;
  font-family: 'Cormorant Unicase';
  font-weight: 700;
  margin: 0 43px 0 0;
  text-align: right;
  height: 33px;
  text-transform: uppercase;
  color: #EFECE7;
}

.top-text:nth-child(2){
  color: #DDD9D1;
}