.about-objects-section__table-title{
  font-size: 35px;
  font-family: 'Cormorant Unicase';
  font-weight: 600;
  color: #A68B6E;
  width: 330px;
}


@media screen and (max-width: 1023px) {
  .about-objects-section__table-title{
    font-size: 25px;
    width: 250px;
    padding-left: 31px;
  }

  .about-objects-section__table-title_2{
    padding-left: 41px;
  }

}