.owner-section__text{
  font-family: 'Cormorant Unicase';
  font-size: 30px;
  font-weight: 500;
  color: #4F4B4B;
  line-height: 28px;
}

.owner-section__text:nth-child(2){
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 24px;
  margin-bottom: 0;
}

.owner-section__text:nth-child(4){
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}