.about-company-section__photo{
  max-height: 544px;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 200px;
  z-index: 0;
}


@media screen and (max-width: 1439px) {
  .about-company-section__photo{
    max-height: 462px;
    padding-top: 100px;
  }
}


@media screen and (max-width: 1023px) {
  .about-company-section__photo{
    width: 100%;
    padding-top: 0;
  }
}