.project-section{
  background-image: url(../../images/project-top-photo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px 0px;
  height: 540px;
}


.project-section__button{
  margin: auto;
}





@media screen and (max-width: 1023px) {
  .project-section{
    background-image: url(../../images/project-zim-360.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -50px;
    height: 540px;
  }

  .project-section__adress{
    display: none;
  }

  .project-section__button{
    position: absolute;
    bottom: 30px;
    left: 28px;
  }
}