.choice-section__subtitle_1{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Cormorant Unicase';
  margin-top: 0px;
  color: #856A4D;
  line-height: 40px;
  margin-bottom: 10px;
}

.choice-section__subtitle_2{
  font-size: 37px;
  font-weight: 400;
  font-family: 'Gloock';
  margin-top: 0px;
  color: #83918F;
  line-height: 34px;
  margin-bottom: 0;
}

.choice-section__subtitle_3{
  font-size: 37px;
  font-weight: 700;
  font-family: 'Cormorant';
  margin-top: 0px;
  color: #525F78;
  line-height: 40px;
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .choice-section__subtitle_2{
    text-align: left;
    padding-left: 30px;
  }
  
  .choice-section__subtitle_3{
    text-align: left;
    padding-left: 30px;
  }
}