.choice-section__title_1{
  font-size: 14px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  color: #856A4D;
  line-height: 13px;
}

.choice-section__title_2{
  font-size: 14px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  color: #83918F;
}

.choice-section__title_3{
  font-size: 14px;
  font-family: 'Libre Baskerville';
  font-weight: 700;
  line-height: 16px;
  margin: 0;
  color: #525F78;
}