.slider-section__slide-wrapper{
  width: 410px;
  height: 410px;
  background-color: #FAFAFA;
  border-radius: 8px;
  position: relative;
}

.slider-section__slide-wrapper:nth-child(2){
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 1439px) {
  .slider-section__slide-wrapper{
    width: 317px;
    height: 367px;
  }
}

@media screen and (max-width: 1023px) {
  .slider-section__slide-wrapper{
    width: 317px;
    height: 367px;
    margin: auto;
  }

  .slider-section__slide-wrapper:nth-child(2){
  margin: 20px auto 20px auto;
}

}