.footer{
  height: 460px;
  padding: 0px 164px;
  padding-top: 110px;
  background-color: #4F4B4B;
  background-size: contain;
}

.footer__contacts{
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 1023px) {
  .footer{

    padding: 0px 29px;
    padding-top: 200px;
    padding-bottom: 380px;
  }

  .footer__contacts{
    flex-direction: column;
    justify-content: center;
  }
}