.about-company-section__text{
  font-size: 45px;
  font-family: 'Cormorant Unicase';
  width: 500px;
  padding-top: 130px;
}

.about-company-section__text:nth-child(3){
  font-size: 14px;
  font-family: 'Inter';
  width: 500px;
  line-height: 21px;
  padding-top: 0px;
}


@media screen and (max-width: 1439px) {
  .about-company-section__text{
  font-size: 30px;
  font-family: 'Cormorant Unicase';
  width: 336px;
  padding-top: 130px;
}

.about-company-section__text:nth-child(3){
  font-size: 12px;
  font-family: 'Inter';
  width: 464px;
  line-height: 21px;
  padding-top: 0px;
}
  
}


@media screen and (max-width: 1023px) {
  .about-company-section__text{
  font-size: 25px;
  font-family: 'Cormorant Unicase';
  width: 258px;
  padding-top: 110px;
  margin: auto;
  font-weight: 600;
}

.about-company-section__text:nth-child(3){
  font-size: 12px;
  font-family: 'Inter';
  width: 258px;
  line-height: 21px;
  padding-top: 0px;
  margin: 30px auto 0px auto;
  font-weight: 400;
}
  
}
