.about-objects-section{
  display: flex;
  flex-direction: column;
  background-color: #FBF9F6;
}

.about-objects-section__table-slash{

}

@media screen and (max-width:1023px) {
  .about-objects-section__table-slash{
    display: none;
  }
}